<div class="profile-container">
  <div class="profile-content">
    <div>
      <span class="label">Name</span>
      <span class="value">{{currentUser.name}}</span>
    </div>
    <div>
      <span class="label">Age</span>
      <span class="value">{{currentUser.age}}</span>
    </div>
    <div>
      <span class="label">E-mail</span>
      <span class="value">{{currentUser.email}}</span>
    </div>
    <div>
      <span class="label">{{"Friend"|pluralize:currentUser.friendIds.length}}</span>
      <span class="value">{{currentUser.friendIds.length}}</span>
    </div>
  </div>
</div>